<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$viewData.webTitle}</title>
	<!-- 国产浏览器高速模式 -->
	<meta name="renderer" content="webkit">
	<!-- 移动设备优先,禁止缩放 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/bootstrap3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/bootstrap3/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/pass.css">
	
</head>
<body class="login_box">
	
	<div class="container-fluid content_box ">
		<div class="row top_logo_box">
			<div class="col-xs-12 text-center">
				<img src="__PUBLIC__/static/img/logo1.jpg">
			</div>
		</div>
		<form id="myForm" class="passForm">
	
		<div class="row inputList">
			<div class="col-xs-2 inputLeft">
				<img src="__PUBLIC__/static/img/xm2.png">
			</div>
			<div class="col-xs-10 inputRight">
				<input type="text" placeholder="请输入姓名" name="user_name" class="passInput">
			</div>
		</div>
		<div class="row inputList">
			<div class="col-xs-2 inputLeft">
				<img src="__PUBLIC__/static/img/sjh2.png">
			</div>
			<div class="col-xs-10 inputRight">
				<input type="number" placeholder="请输入手机号" name="user_phone" class="passInput">
			</div>
		</div>
		<div class="row inputList">
			<div class="col-xs-2 inputLeft">
				<img src="__PUBLIC__/static/img/mm2.png">
			</div>
			<div class="col-xs-10 inputRight">
				<input type="password" placeholder="新密码" name="password" class="passInput">
			</div>
		</div>
		<div class="row inputList">
			<div class="col-xs-2 inputLeft">
				<img src="__PUBLIC__/static/img/mm2.png">
			</div>
			<div class="col-xs-10 inputRight">
				<input type="password" placeholder="确认新密码" name="password_confirm" class="passInput">
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="javascript:void(0)" class="login_button" onclick="getData()">
					确定
				</a>
			</div>
		</div>
		<div class="row login_bottom">
			<div class="col-xs-6 text-left">
				<a href="{:url('Login/index')}">返回登录</a>
			</div>
			<div class="col-xs-6 text-right">
				<a href="{:url('Regist/index')}">立即注册</a>
			</div>
		</div>
		</form>
		
	</div>

</body>
<script type="text/javascript">
	function getData(){
		$.ajax({
			url:"{:url('Login/passwordAction')}",
			data:$("#myForm").serialize(),
			dataType:"json",
			type:"post",
			success:function(data){
				alert(data.msg);
				if(data.status == 1){
					window.location.href="{:url('Login/index')}"
				}
			}
		})
	}
</script>
</html>