<div class="container-fluid web_bottom_box">
	<div class="row">
		<a class="col-xs-2 web_bottom_button" href="{:url('Index/index')}">
			<img src="__PUBLIC__/static/img/home2.jpg"   alt="首页"><br />
			首页
		</a>
		<a class="col-xs-2 web_bottom_button" href="{:url('Categorys/index')}">
			<img src="__PUBLIC__/static/img/ss1.jpg"   alt="分类"><br />
			分类
		</a>
		<a class="col-xs-2 web_bottom_button" href="{:url('Share/index')}">
			<img src="__PUBLIC__/static/img/fx1.jpg"   alt="分享"><br />
			分享
		</a>
		<a class="col-xs-2 web_bottom_button" href="{:url('ShoppingCart/index')}">
			<img src="__PUBLIC__/static/img/gwc1.jpg"   alt="购物车"><br />
			购物车
		</a>
		<a class="col-xs-2 web_bottom_button" href="{:url('User/index')}">
			<img src="__PUBLIC__/static/img/wd1.jpg"   alt="我的"><br />
			我的
		</a>
	</div>
</div>